{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block beforehead %}



{% endblock %}

{% block content %}

    <div id="main" style="width: 900px;height:700px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var dom = document.getElementById("main");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        function randomData() {
            return Math.round(Math.random()*1000);
        }

        option = {
            backgroundColor: '#000',
            globe: {
                baseTexture: "/static/img/world.topo.bathy.200401.jpg",
                heightTexture: "/static/img/world.topo.bathy.200401.jpg",
                displacementScale: 0.04,
                shading: 'realistic',
                environment: '/static/img/starfield.jpg',
                realisticMaterial: {
                    roughness: 0.9
                },
                postEffect: {
                    enable: true
                },
                light: {
                    main: {
                        intensity: 5,
                        shadow: true
                    },
                    ambientCubemap: {
                        texture: '/static/img/pisa.hdr',
                        diffuseIntensity: 0.2
                    }
                }
            }
        };
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    </script>
{% endblock %}